*{
    margin: 0;
    padding: 0;
    font-family: lato;
}


.header-container{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    height: 900px;
    justify-content: center;
    align-items: center;
    
}
.header-info{
    width: 50%;
    margin: auto;
    padding-left: 240px;

}

.header-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 32px;
}
.bg-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    border: 0;
    margin-top: 32px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
.header-photo {
    margin-right: 240px;
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    margin-top: 98px;
}

       /* header section end  */

.featured-container{
    margin-top: 175px;
}
.featured-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.featured-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: 24px;
}

.featured-photo{
    /* width: 370px; */
    /* height: 370px; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    /* margin-bottom: 100px; */
    gap: 24px;
    
}
.pngwing-10 img{
    /* width: 200px;
    height: 250px; */
    width: 310px;
    height: 428px;
    flex-shrink: 0;
    padding: 110px 78px 0px 76px;
    
}
.pngwing-10{

    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.pngwing-11 img{
    width: 370px;
    height: 370px;
    flex-shrink: 0;
    padding: 117px 47px 51px 47px;
}
.pngwing-11{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}
.pngwing-12{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}
.pngwing-12 img{
    width: 314px;
    height: 471px;
    flex-shrink: 0;
    padding: 67px 75px 0px 75px;
}
.pngwing-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 24px;
}


/* featured section end  */

.delevery-support{
    display: flex;
    margin-top: 150px;
    justify-content: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    align-items: center;
    margin-left: 200px;
    gap: 120px;
    text-align: center;
}

.dlevery-spport-photo h3{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 20px;

}

/* delevery-suuport section end  */

.hot-deal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;
    margin-top: 128px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1922px;
    height: 620px;
    flex-shrink: 0;
}
.hot-deal-info{
    padding-right: 200px;
}
.hot-deal-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px
}
.hot-deal-photo{
    padding-right: 200px;
}


/* hot deal section end  */


.instagram-container{
    margin-top: 128px;
}

.instagram-photo{
    padding-top: 50px;
    margin-left: 170px;

}
.instagram-photo img{
    padding: 20px;
}

/* instagram section end  */

.latest-deals-container{
    margin-top: 128px;
    border-radius: 8px;
    background: url('./Flower Asset/Rectangle 9.png'), lightgray 0px -203.444px / 100% 213.755% no-repeat;
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    margin-left: 220px;
  
}
.latest-deals-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 122px;
    
}
.latest-deals-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 16px;
}
form{
   margin-left: 250px;
   margin-top: 41px;
}

.email-section{
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: 0;
}
.email-section::placeholder{
    color: rgba(39, 39, 39, 0.60);
/* text-align: center; */
padding-left: 20px;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.btn{
    width: 150px;
height: 60px;
flex-shrink: 0;
border-radius: 8px;
background: #E55473;
border: 0;
color: #FFF;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 20px;

}

.footer-container{
    width: 1922px;
    height: 449px;
    background: #111010;
    margin-top: 128px;
}

